.home-page {
  padding: 2rem;
  text-align: center;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    & > .product-card {
      flex: 1 1 300px;
      max-width: 300px;
    }
  }

  .logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #d32f2f;
    }
  }
}

.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .logout-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Increased width */
    height: auto; /* Adjust height dynamically */
    max-height: 90%; /* Ensure it doesn't exceed viewport height */
    overflow-y: auto; /* Add scroll if content overflows */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
    }

    p {
      margin-bottom: 20px;
      font-size: 14px;
      color: #555;
    }

    .logout-modal-buttons {
      display: flex;
      justify-content: space-between;

      .confirm-logout-btn {
        background-color: #4caf50;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }
      }

      .cancel-logout-btn {
        background-color: #f44336;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #d32f2f;
        }
      }
    }
  }
}
