.product-table-container {
    margin: 20px auto;
    background: #ffffff;
    width: 98%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 16px;
      color: #333;
    }
  }

  .table-wrapper {
    max-height: 75vh; 
    overflow-y: auto;
    border-radius: 8px;
  }

  .column-header {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
  
    thead {
      background: #007bff;
      color: white;
      position: sticky;
      top: 0;
      z-index: 10;
      
      th {
        padding: 12px;
        text-align: left;
        font-weight: bold;
      }
    }
  
    tbody {
      
      tr {
        transition: background 0.3s ease;
  
        &:nth-child(even) {
          background: #f8f9fa;
        }
  
        &:hover {
          background: #e9ecef;
        }
      }
  
      td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
  
  .actions {
    display: flex;
    gap: 10px;
  
    .edit-btn {
      background: #ffc107;
      color: #333;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;
  
      &:hover {
        background: #e0a800;
      }
    }
  
    .delete-btn {
      background: #dc3545;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;
  
      &:hover {
        background: #c82333;
      }
    }
  }

  .image-preview-cell {
    text-align: center;
  }
  
  .table-image-preview {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #ddd;
  }

  .search-bar {
    margin-bottom: 20px;
    display: flex;
    align-items: center; // Align label and input vertically
    gap: 10px; // Add spacing between label and input

    .search-label {
      font-size: 1rem;
      font-weight: bold;
      color: #333;
    }

    .search-input {
      width: 100%;
      max-width: 400px;
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }

      &::placeholder {
        color: #aaa;
      }
    }
  }
