@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
$primary-color: #1e88e5;
$background-color: #f4f4f9;
$border-color: #d1d5db;
$error-color: #ff0000;

